*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
h1,h2,h3{

    font-family:'Cormorant Garamond',serif;

}

body{

    background:url("./assets/images/background.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-color:#efefef;

}

img{

    display:block;
    max-width:100%;

}

.app{

    width:min(92%,1320px);
    margin:35px auto;
    background:#23292d;
    border-radius:12px;
    overflow:hidden;
    color:white;

}

/* HEADER */

.header{

    height:90px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 50px;
    border-bottom:1px solid rgba(255,255,255,.08);

}

.logo{

    size: 70px;
    width: 30px;

}

.header nav{

    display:flex;
    gap:40px;

}

.header nav a{

    color:white;
    text-decoration:none;
    text-transform:uppercase;
    font-size:13px;

}

.headerButtons{

    display:flex;

}

.iconButton{

    width:55px;
    height:55px;
    border:none;
    background:#2e3438;
    color:white;
    cursor:pointer;
    font-size:18px;
    border-left:1px solid rgba(255,255,255,.08);

}

/* HERO */

.hero{

    display:grid;
    grid-template-columns:1fr 1fr;
    align-items:center;
    padding:60px;

}

.heroText h1{

    font-size:86px;
    line-height:82px;
    margin:20px 0;

}

.heroText h3{

    margin-bottom:35px;
    line-height:1.7;
    font-weight:400;

}

.hero button{

    background:#ff6b00;
    color:white;
    border:none;
    padding:15px 38px;
    cursor:pointer;
    transition:.3s;

}
.hero button:hover{

    transform:translateY(-3px);
    background:#ff7c1c;

}

.heroImage{

    display:flex;
    justify-content:center;

}

.heroImage img{

    width:520px;

}
/* ORANGE BENEFIT */

.orangeBenefit{

    display:grid;
    grid-template-columns:1.2fr 1fr;
    align-items:center;
    gap:40px;
    padding:40px 60px;
    border-top:1px solid rgba(255,255,255,.08);

}

.orangeLeft h2{

    font-size:58px;
    margin-bottom:40px;

}

.orangeInfo{

    display:flex;
    align-items:center;
    gap:25px;

}

.orangeInfo img{

    width:90px;

}

.orangeInfo p{

    color:#cfcfcf;
    line-height:1.8;

}

.orangeInfo button{

    margin-top:25px;
    padding:13px 35px;
    border:none;
    background:#ff6b00;
    color:white;
    cursor:pointer;
    transition: 3s;

}
.orangeInfo button:hover{

    transform:translateY(-3px);
    background:#ff7c1c;

}

.orangeRight img{

    width:100%;

}

/* PRODUCT SECTION */

.productSection{

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
    padding:30px 60px 60px;

}

.productCard{

    cursor:pointer;
    transition:.3s;

}

.productCard:hover{

    transform:translateY(-8px);

}

.productCard img{

    width:100%;

}

.productCard h3{

    margin-top:18px;
    font-size:18px;

}

.productCard p{

    color:#bbbbbb;
    margin-top:8px;
    font-size:14px;

}
/* IMAGINE SECTION */

.imagineSection{

    display:grid;
    grid-template-columns:1.3fr 1fr 1fr;
    gap:45px;
    align-items:center;
    padding:80px 60px;

}

.sectionTitle{

    color:#ff6b00;
    text-transform:uppercase;
    letter-spacing:2px;
    margin-bottom:20px;
    font-size:14px;

}

.imagineText h2{

    font-size:72px;
    line-height:72px;
    font-weight:700;

}

.berryImage{

    display:flex;
    justify-content:center;

}

.berryImage img{

    width:280px;

}

.benefitsCard{

    background:white;
    color:#222;
    border-radius:18px;
    padding:40px 35px;

}

.benefitSmallTitle{

    color:#ff6b00;
    text-transform:uppercase;
    font-size:12px;
    letter-spacing:2px;
    margin-bottom:15px;

}

.benefitsCard h3{

    font-size:36px;
    margin-bottom:20px;

}

.benefitsCard p{

    color:#666;
    line-height:1.8;
    margin-bottom:25px;

}

.benefitsCard button{

    background:#ff6b00;
    color:white;
    border:none;
    padding:14px 35px;
    cursor:pointer;
    transition: 3s;

}
.benefitsCard button:hover{

    transform:translateY(-3px);

    background:#ff7c1c;

}
/*MENU BENEFIT*/

.menuBenefit{

    display:grid;
    grid-template-columns:1fr 2fr 1fr;
    gap:45px;
    align-items:center;
    padding:80px 60px;

}

.menuImage{

    display:flex;
    justify-content:center;

}

.menuImage img{

    width:260px;

}

.menuCenter{

    text-align:center;

}

.menuItems{

    display:flex;
    justify-content:center;
    gap:30px;
    margin-top:40px;

}

.menuItem{

    width:170px;

}

.menuItem img{

    width:90px;
    margin:0 auto 20px;

}

.menuItem h4{

    margin-bottom:12px;
    font-size:18px;

}

.menuItem p{

    color:#bdbdbd;
    line-height:1.6;
    font-size:14px;

}

.openingHours{

    background:#2e3438;
    padding:35px;
    border-radius:18px;

}

.openingHours h3{

    margin-bottom:25px;
    font-size:28px;

}

.hours{

    display:flex;
    justify-content:space-between;
    padding:12px 0;
    font-size:14px;

}

.openingHours hr{

    margin:30px 0;
    border:none;
    border-top:1px solid rgba(255,255,255,.15);

}

.quickLinks{

    margin:0;
    letter-spacing:2px;
    font-size:18px;

}
/*Media Queries*/
@media(max-width:992px){

    .hero,
    .orangeBenefit,
    .imagineSection,
    .menuBenefit,
    .footer{

        grid-template-columns:1fr;

        text-align:center;

    }

    .productSection{

        grid-template-columns:1fr;

    }

    .menuItems{

        justify-content:center;

        flex-wrap:wrap;

    }

}
/*Mobile*/
@media(max-width:768px){

    .header{

        flex-direction:column;

        gap:20px;

        padding:30px;

    }

    .header nav{

        flex-wrap:wrap;

        justify-content:center;

    }

    .hero{

        padding:40px;

    }

    .heroText h1{

        font-size:58px;

        line-height:60px;

    }

    .orangeBenefit,
    .productSection,
    .imagineSection,
    .menuBenefit{

        padding:40px 25px;

    }

}